<div class="container">
    <div class="valign-wrapper vh-100">
        <div class="row">
            <form class="col s8 offset-s2">
                 <a> Login</a>
                <div class="row center-align">  
                    <div class="input-field col s8 offset-s2">
                        <input  type="email" id="email" class="validate" formControlName="email" >
                        <label for="email">Email</label>
                        <span class="helper-text" data-error="upps tienes un error" data-success="ok"></span>
                    </div>
                    <div class="input-field col s8 offset-s2">
                        <input id="pass" type="password" class="validate">
                        <label for="pass">Contraseña</label>
                    </div>
                    <div class="col s12">
                        <h1>
                        </h1>
                        <a routerLink="/registro">Registrate aqui</a>                   
                    </div>

                    <button class="btn waves-effect waves-light light-blue darken-4" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>