<div class="container">
    <div class="valign-wrapper vh-100">
        <div class="row">
            <form action="" class="col s8 offset-s2">
                <div class=" center-align">
                    <div class="input-field col s8 offset-s2">
                    <input placeholder="Email" type="email" class="validate">
                    <label >Email</label>
                    </div>
                    <div class="input-field col s8 offset-s2">
                    <input placeholder="Contraseña" id="first_name" type="password" class="validate">
                    </div>
                    <button class="btn waves-effect waves-light light-blue darken-4" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>